<h1 class="container bg-dark text-white text-center my-4 py-4">Academia de Programacion</h1>

<div class="container">
  <table class="table">

    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ROL</th>
        <th scope="col">NOMBRE</th>
        <th scope="col">EDAD</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let usuario of academia; index as i">
        <th scope="row">{{i+1}}</th>
        <th>{{usuario.rol}}</th>
        <th>{{usuario.nombre}}</th>
        <th>{{usuario.edad}}</th>
      </tr>
    </tbody>

  </table>
</div>
