<div class="p-5 mb-2 bg-danger text-black">
  <p>
    error 404 la pagina que busco no se encontro revise si escribio bien la URL o
    pruebe utilizando el Menu. Si el problema persiste puede que nuestros servidores
    esten caidos y nuestro equipo este trabajando en solucionar los problemas.
    puede ponerse en contacto atraves del correo electronico practica@home.com
  </p>
</div>
