<!--
   no se por que funciona si esta en rojo segun especifica no esta especificado en el array
 -->
<div class="mt-5">

  <h2>Rol: {{equipo.rol}}</h2><br>
  <h5>Nombre: {{equipo.nombre}}</h5><br>
  <h6>Descripcion: {{equipo.descripcion}}</h6><br>

</div>

