<!--estas son las tarjetas de la pestaña nosotros que refleja de [ equipo service ts ] -->
<div class="mt-5">
    <h2> Ultimas entradas.</h2>

    <p> Estas entradas contienen informacion y observaciones acerca de las personas de la academia tanto Alumnos como profesores </p>

    <ul class="list-group">
      <li class="list-group-item" *ngFor="let usuarios of equipo, index as i">
        <h6> Rol: {{usuarios.rol}} </h6>
        <h6> Nombre: {{usuarios.nombre}} </h6>
        <h6> Edad: {{usuarios.edad}} </h6>
        <h6> Especialidad: {{usuarios.especialidad}} </h6>


          <a [routerLink]="['/equipo',i]">Leer mas...</a>
      </li>
    </ul>

</div>
